
<div class="first-page">
  <div class="container">
    <div class="padding-page">
      <nav>
        <a routerLink="Trang-chu">Trang chủ</a>
        <a routerLink="Gioi-thieu">Giới thiệu</a>
      </nav>
        <div class="title">
              <h2>Chúng tôi là ASCVN!
              <br>Chúng tôi mang đến nhiều giải pháp</h2>
        </div>
        <div class="sub-title">
            <p>Hãy xem công ty của chúng tôi hoạt động và phát triển<br>
              như thế nào</p>
        </div>
    </div>
    </div>

</div>
