<div class="first-page">
  <div class="title container ">
    <div class="main-title">
      <h2>
        Chúng tôi cung cấp, tư vấn giải pháp<br>
        phần mềm QUẢN LÝ GIÁO DỤC
      </h2>
    </div>
    <div class="sub-title">
      <p>dành cho các Trường Trung cấp, Cao đẳng,
        Đại học và các Sở Giáo dục, <br>các Trường Mầm non,
        Tiểu học, THCS, THPT </p>
    </div>
    <div class="title-list-custom">
      <p>Khách hàng của chúng tôi</p>
    </div>
  </div>
  <div class="list-custom container d-flex justify-content-center">
  
    <div class="item">
      <img src="assets/image/list-customer-logo/image 1.png" alt="">
    </div>
    <div class="item">
      <img src="assets/image/list-customer-logo/image 2.png" alt="">
    </div>
    <div class="item">
      <img src="assets/image/list-customer-logo/image 3.png" alt="">
    </div>
    <div class="item">
      <img src="assets/image/list-customer-logo/image 4.png" alt="">
    </div>
    <div class="item">
      <img src="assets/image/list-customer-logo/image 5.png" alt="">
    </div>
    <div class="item">
      <img src="assets/image/list-customer-logo/image 6.png" alt="">
    </div>

  </div>
  <div class="btn-xem-tat-ca">

  </div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="assets/js/main.js"></script>
<script src ="assets/js/owl.carousel.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<!-- <script src ="js/javascript.js"></script> -->
