<div class="sec-page">
  <div class="container-md .container-sm">
    <div class="content">
      <div class="title">
        <h1>
          Chúng tôi không chỉ là
          <br>
          công ty công nghệ
        </h1>
      </div>
      <div class="description">
        <p>ASCVN là nơi có hơn 200 chuyên gia đam mê sắp xếp các mục tiêu kinh doanh của bạn với các <br>
          giải pháp công nghệ mới
          nhất. Chúng tôi trẻ, táo bạo và chúng tôi muốn thay đổi nền tảng công<br>
          nghệ 4.0 cho nền giáo dục. Bằng cách kết hợp
          những tài năng xuất sắc nhất của chúng tôi với <br>
          những khách hàng khó tính nhất. </p>
      </div>
    </div>
    <div class="container">
      <div class="experience">
        <div class="year">
          <h3 class = "title-detail">10+</h3>
          <p class = "content-detail">Năm kinh nghiệm</p>
        </div>
        <div class="employee">
          <h3 class = "title-detail">200+</h3>
          <p class = "content-detail">Chuyên gia <br>
            phần mềm</p>
        </div>
        <div class="project">
          <h3 class = "title-detail">50+</h3>
          <p class = "content-detail">Dự án & <br>
            giải pháp</p>
        </div>
        <div class="custom">
          <h3 class = "title-detail">150+</h3>
          <p class = "content-detail">Khách hàng <br>
            tiềm năng</p>
        </div>
      </div>
    </div>
  </div>

</div>
