<div class="nav-bar">
  <div class="container-fluid">
    <div class="d-flex justify-content-between" style="margin: 20px 0">
      <div class="logo-asc">
        <div class="main-logo">
          <img src="assets/image/path-logo/Path 4.png" alt="">
          <img src="assets/image/path-logo/Path 1.png" alt="" style="position : absolute; left: 12px; top: -28px;">
          <img src="assets/image/path-logo/Path 2.png" alt="" style="position : absolute; left: 50px; top: -18px;">
          <img src="assets/image/path-logo/Path 3.png" alt="" style="position : absolute; left: 92px; top: -18px;">
          <div class="d-flex">
            <div class="education-logo">
              <img src="assets/image/path-logo/Path 5.png" alt="">
              <img src="assets/image/path-logo/Path 6.png" alt="">
              <img src="assets/image/path-logo/Path 7.png" alt="">
              <img src="assets/image/path-logo/Path 8.png" alt="">
              <img src="assets/image/path-logo/Path 9.png" alt="">
              <img src="assets/image/path-logo/Path 10.png" alt="">
              <img src="assets/image/path-logo/Path 11.png" alt="">
              <img src="assets/image/path-logo/Path 12.png" alt="">
              <img src="assets/image/path-logo/Path 13.png" alt="">
            </div>
            <div class="solution-logo">
              <img src="assets/image/path-logo/Path 14.png" alt="">
              <img src="assets/image/path-logo/Path 15.png" alt="">
              <img src="assets/image/path-logo/Path 16.png" alt="">
              <img src="assets/image/path-logo/Path 17.png" alt="">
              <img src="assets/image/path-logo/Path 18.png" alt="">
              <img src="assets/image/path-logo/Path 19.png" alt="">
              <img src="assets/image/path-logo/Path 20.png" alt="">
              <img src="assets/image/path-logo/Path 21.png" alt="">
              <img src="assets/image/path-logo/Path 22.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="menu-navbar d-flex align-items-center">
        <a routerLink="Trang-chu" routerLinkActive="active">Trang chủ</a>
        <a routerLink="Gioi-thieu" routerLinkActive="active">Giới thiệu </a>
        <a href="">Sản phẩm</a>
        <a href="">Khách hàng</a>
        <a href="">Thư viện ảnh</a>
        <a href="">Tuyển dụng</a>
        <a href="" class="btn-goi-tu-van"><i class="fa fa-phone"></i>GỌI TƯ VẤN NGAY</a>
        <a href="">EN</a>
        <a href="" class="btn-language-active">VN</a>
        <a href=""><i class="fa fa-navicon"></i></a>

      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<div class="footer">
  <div class="container">
    <div class="title-footer ">
      <div class="logo-footer">
        <div class="main-logo">
          <img src="assets/image/path-logo-footer/Path 4.png" alt="">
          <img src="assets/image/path-logo-footer/Path 1.png" alt=""
            style="position : absolute; left: 12px; top: -28px;">
          <img src="assets/image/path-logo-footer/Path 2.png" alt=""
            style="position : absolute; left: 50px; top: -18px;">
          <img src="assets/image/path-logo-footer/Path 3.png" alt=""
            style="position : absolute; left: 92px; top: -18px;">
          <div class="d-flex">
            <div class="education-logo">
              <img src="assets/image/path-logo-footer/Path 5.png" alt="">
              <img src="assets/image/path-logo-footer/Path 6.png" alt="">
              <img src="assets/image/path-logo-footer/Path 7.png" alt="">
              <img src="assets/image/path-logo-footer/Path 8.png" alt="">
              <img src="assets/image/path-logo-footer/Path 9.png" alt="">
              <img src="assets/image/path-logo-footer/Path 10.png" alt="">
              <img src="assets/image/path-logo-footer/Path 11.png" alt="">
              <img src="assets/image/path-logo-footer/Path 12.png" alt="">
              <img src="assets/image/path-logo-footer/Path 13.png" alt="">
            </div>
            <div class="solution-logo">
              <img src="assets/image/path-logo-footer/Path 14.png" alt="">
              <img src="assets/image/path-logo-footer/Path 15.png" alt="">
              <img src="assets/image/path-logo-footer/Path 16.png" alt="">
              <img src="assets/image/path-logo-footer/Path 17.png" alt="">
              <img src="assets/image/path-logo-footer/Path 18.png" alt="">
              <img src="assets/image/path-logo-footer/Path 19.png" alt="">
              <img src="assets/image/path-logo-footer/Path 20.png" alt="">
              <img src="assets/image/path-logo-footer/Path 21.png" alt="">
              <img src="assets/image/path-logo-footer/Path 22.png" alt="">
            </div>
          </div>
        </div>
        <div class="sub-title-footer">
          <p>Cung cấp, tư vấn giải pháp phần mềm QUẢN LÝ
            GIÁO DỤC TOÀN DIỆN dành cho các Trường Trung
            cấp, Cao đẳng, Đại học và<br> các Sở Giáo dục,
            các Trường Mầm non, Tiểu học, THCS, THPT</p>
        </div>
      </div>
    </div>


    <div class="detail">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col goi-tu-van">
            <p>Gọi tư vấn</p>
            <h1>(028) 66.854.797</h1>
          </div>
          <div class="col hotline">
            <p>hotline</p>
            <h1>(028) 66.797.357</h1>
          </div>
          <div class="col-2 ve-chung-toi">
            <p>về chúng tôi</p>
            <ul class="ul-ve-chung-toi">
              <li><a href="">Giới thiệu</a></li>
              <li><a href="">Sản phẩm</a></li>
              <li><a href="">Khách hàng</a></li>
              <li><a href="">Thư viện ảnh</a></li>
              <li><a href="">Tuyển dụng</a></li>
              <li><a href="">Liên hệ</a></li>
            </ul>
          </div>
          <div class="col-3 office">
            <div class="d-flex flex-column">
              <div class="office-hcm">
                <div class="title-office">ASCVN OFFICE HCM</div>
                <div class="address-office">Số 77 Lê Trung Nghĩa, Phường 12,
                  <br>Q.Tân Bình, Tp.Hồ Chí Minh
                </div>
                <div class="phone-office">(028) 66.797.357</div>
              </div>
              <div class="office-hn">
                <div class="title-office">ASCVN OFFICE HANOI</div>
                <div class="address-office">Tầng 3, Tòa nhà Diamond Flower,
                  Số 48 <br>Lê Văn Lương, Quận Thanh Xuân, Hà Nội</div>
                <div class="phone-office">(028) 66.797.357</div>
              </div>
            </div>
          </div>
          <div class="col-2 san-pham">
            <p>SẢN PHẨM</p>
            <ul class="ul-san-pham">
              <li><a href="">QUẢN LÝ GIÁO DỤC</a></li>
              <li><a href="">QUẢN LÝ NHÂN SỰ</a></li>
              <li><a href="">QUẢN LÝ TRẮC NGHIỆM</a></li>
              <li><a href="">PMT-SCHOOL</a></li>
              <li><a href="">QUẢN LÝ TÀI SẢN</a></li>
              <li><a href="">Kho giao diện</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="copy-right">
  <div class="container">
    <p>&copy; 2021 Bản quyền thuộc về ASCVN</p>
  </div>
</div>
