
<div class="fouth-layout">
  <div class="container">

    <div class="main-title-tu-van ">
      <h2>Tư vấn & Hỗ trợ</h2>
    </div>
    <div class="sub-title-tu-van">
      <p>Liên hệ với chúng tôi bạn sẽ được giải đáp và tư vấn.</p>
    </div>

    <div class="sdt">
      <div class="sdt-tu-van border-style">
        <div class="p-number">
          <div class="name-p">
            <p>HOTLINE</p>
          </div>
          <div class="number-p">
            <h3>(028) 66.797.357</h3>
          </div>
        </div>
      </div>

      <div class="sdt-tu-van border-style">
        <div class="p-number">
          <div class="name-p">
            <p>TƯ VẤN KHÁCH HÀNG</p>
          </div>
          <div class="number-p">
            <h3>(028) 66.854.797</h3>
          </div>
        </div>
      </div>

      <div class="sdt-tu-van">
        <div class="p-number">
          <div class="name-p">
            <p>HƯỚNG DẪN SỬ DỤNG</p>
          </div>
          <div class="number-p">
            <h3>(028) 66.755.886</h3>
          </div>
        </div>
      </div>
    </div>


    <div class="btn-tu-van">
        <a href="" class = "HT-tu-van">Hỗ trợ tư vấn <i class = "fa fa-long-arrow-right"></i></a>
        <a href="" class = "HT-nghiep-vu">Hỗ trợ nghiệp vụ <i class = "fa fa-long-arrow-right"></i></a>
    </div>
  </div>
</div>

