.footer
{
 background-color:  E4E9F7;
}
.container-footer{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

 i{
   color: white;
 }

.copy-right{
   background-color: rgb(41, 65, 112);

 }
.copy-right .text-copyright{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 12px ;
  padding: 12px 0;
}


:root{
  --facebook: rgb(26, 103, 190);
  --twitter: rgb(52, 173, 253);
  --linked: rgb(8, 96, 155);
  --youtube: rgb(221, 26, 26);
  --github: rgb(44, 44, 44);
  --reddit: rgb(255, 69, 0);
}
.container{

}

.content{
  /* color: white; */
  display: flex;
  justify-content: flex-end;
}

.content .icon{
  margin: 20px;
}

.content .icon i{
  font-size: 16px;
  font-weight: normal;
  width: 0;
  visibility: hidden;

}

.content .icon span{
  font-size: 20px;

}

.content .icon:nth-child(1){
  color: var(--facebook);
}

.content .icon:nth-child(2){
  color: var(--facebook);
}
