<div class="container">
  <div class="video-album-hpmu">
    <div class="title">
      <h2>VIDEO HOẠT ĐỘNG - ALBUM ẢNH</h2>
    </div>

    <div class="content">
      <div class="row">
        <div class="col col-xl-5 col-md-12">
          <div class="video-album">
            <h2 class = "title-video">VIDEO HOẠT ĐỘNG</h2>
            <div class="btn-xem-ct">
              <a class="item-xct" href="#">Xem chi tiết <i class="fa fa-sort-asc"></i></a>
            </div>
          </div>
          <img class="img-news" src="/assets/image/body/Trang-chu/video-album/image 42.png" alt="">
          <div class="row">
            <div class="col-3 mini-video">
              <img src="/assets/image/body/Trang-chu/video-album/image 42.png" alt="" style="width: 100%;">
              <a href="" class="link-video">Chuẩn bị công tác phòng chống dịch Covid</a>
            </div>
            <div class="col-3 mini-video">
              <img src="/assets/image/body/Trang-chu/video-album/image 42.png" alt="" style="width: 100%;">
              <a href="" class="link-video">Chuẩn bị công tác phòng chống dịch Covid</a>
            </div>
            <div class="col-3 mini-video">
              <img src="/assets/image/body/Trang-chu/video-album/image 42.png" alt="" style="width: 100%;">
              <a href="" class="link-video">Chuẩn bị công tác phòng chống dịch Covid</a>
            </div>
          </div>
        </div>
        <div class="col col-xl-6 col-md-12">
          <div class="video-album">
            <h2 class = "title-album">ALBUM ẢNH </h2>
            <div class="btn-xem-ct">
              <a class="item-xct" href="#">Xem chi tiết <i class="fa fa-sort-asc"></i></a>
            </div>
          </div>
          <ul class="list-news">
            <li class="news-items show"><img src="/assets/image/body/Trang-chu/Tin-tuc/image 43.png" alt="image"><a
                href="">GIẢNG VIÊN - SINH VIÊN NGÀNH HƯỚNG DẪN DU LỊCH</a></li>
            <li class="news-items show"><img src="/assets/image/body/Trang-chu/Tin-tuc/image 43 (1).png" alt="image"><a
                href="">LỄ KÝ KẾT HỢP TÁC CỦA TRƯỜNG VỚI ĐẠI HỌC Y DƯỢC TP. HCM </a></li>
            <li class="news-items show"><img src="/assets/image/body/Trang-chu/Tin-tuc/image 43 (2).png" alt="image"><a
                href="">LỄ TỐT NGHIỆP SINH VIÊN TRƯỜNG Y DƯỢC HẢI PHÒNG </a></li>
            <li class="news-items show"><img src="/assets/image/body/Trang-chu/Tin-tuc/image 43 (3).png" alt="image"><a
                href="">GIỜ HỌC THỰC HÀNH CỦA SINH VIÊN KHOA ĐIỆN LẠNH </a></li>
            <li class="news-items"><img src="/assets/image/body/Trang-chu/Tin-tuc/image 43 (4).png" alt="image"><a
                href=""> THỰC HÀNH SINH VIÊN NGÀNH DU LỊCH NHÀ HÀNG</a></li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</div>
