
<div class="third-layout">
  <div class="container-fluid">
    <div class="list-option">
      <div class="option ">
        <div class="img-option">
          <i class="fa fa-mortar-board icon-1"></i>
        </div>
        <div class="content-option">
          <p class="name-content-option">PMT-EMS</p>
          <h3 class="title-content-option">HỆ THỐNG QUẢN LÝ
            <br> GIÁO DỤC
          </h3>
          <p class="descrip-content-option">(Dành cho TC, CĐ, ĐH)</p>
        </div>
      </div>

      <div class="option d-flex">
        <div class="img-option">
          <i class="fa fa-users icon-2"></i>
        </div>
        <div class="content-option">
          <p class="name-content-option">PMT-HRM</p>
          <h3 class="title-content-option">HỆ THỐNG QUẢN LÝ
            <br> NHÂN SỰ
          </h3>
          <p class="descrip-content-option">(Dành cho TC, CĐ, ĐH)</p>
        </div>
      </div>

      <div class=" option d-flex">
        <div class="img-option">
          <i class="	fa fa-file-text icon-3"></i>
        </div>
        <div class="content-option">
          <p class="name-content-option">MT-EXAM</p>
          <h3 class="title-content-option">HỆ THỐNG QUẢN LÝ
            <br> THI TRẮC NGHIỆM
          </h3>
          <p class="descrip-content-option">(Dành cho TC, CĐ, ĐH)</p>
        </div>
      </div>
    </div>





    <div class="list-option">
      <div class=" option d-flex ">
        <div class="img-option">
          <i class="	fa fa-dashboard icon-4"></i>
        </div>
        <div class="content-option">
          <p class="name-content-option">PMT-SCHOOL</p>
          <h3 class="title-content-option">HỆ THỐNG QUẢN LÝ
            <br> GIÁO DỤC
          </h3>
          <p class="descrip-content-option">(Sở, Mầm non, Tiểu học, THCS, THPT)</p>
        </div>
      </div>

      <div class=" option d-flex">
        <div class="img-option">
          <i class="fa fa-download icon-5"></i>
        </div>
        <div class="content-option">
          <p class="name-content-option">PMT-AMS</p>
          <h3 class="title-content-option">HỆ THỐNG QUẢN LÝ
            <br> TÀI SẢN
          </h3>
          <p class="descrip-content-option">(Dành cho TC, CĐ, ĐH)</p>
        </div>
      </div>

      <div class=" option d-flex">
        <div class="img-option">
          <i class="fa fa-bar-chart icon-6"></i>
        </div>
        <div class="content-option">
          <p class="name-content-option">PMT-PMS</p>
          <h3 class="title-content-option">HỆ THỐNG QUẢN LÝ
            <br> DỰ ÁN
          </h3>
          <p class="descrip-content-option">(Dành cho TC, CĐ, ĐH)</p>
        </div>
      </div>

    </div>
  </div>
</div>
