.main-logo{
    margin-top: 40px;
    position: relative;
}
.main-logo .education-logo,
.main-logo .solution-logo{
    display: flex;
    position: absolute; 
    
}
.main-logo .education-logo{
    left: 30px; 
    top: 32px;
}

.main-logo .solution-logo{
    left: 82px; 
    top: 32px;
}



.main-logo .education-logo img,
.main-logo .solution-logo img
{
    padding: 0.5px;
}