
  .navbar {
    background-color: #385898;
  }


  .fa {
    color: white;
  }

  .nav-item {

  }

  .nav-link{
    color: white;
    text-transform: uppercase;
  }

  .active {
    border-bottom: 2px solid white;
  }

  .btn{
      background-color: white;
      color: #385898;
  }

  /* ___________new CSS______ */



  :root{
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
  }


