<div class="container">
  <div class="su-kien-HPMU">
    <div class="event-management">
      <div class="title">
        <h2>SỰ KIỆN HPMU</h2>
      </div>


      <div class="flex-box">
        <div class=" contain-event">
          <div class="day-event ">
            <p class=day>22</p>
            <p class="month">tháng 3</p>
          </div>
          <div class="content-event">
            <p>Thông báo v/v nghỉ Lễ Ngày Chiến thắng (30/4) và Ngày Quốc tế Lao động (1/5) năm 2021</p>
          </div>
        </div>
        <div class="  contain-event">
          <div class="day-event ">
            <p class=day>22</p>
            <p class="month">tháng 3</p>
          </div>
          <div class="content-event">
            <p>Thông báo v/v nghỉ Lễ Ngày Chiến thắng (30/4) và Ngày Quốc tế Lao động (1/5) năm 2021</p>
          </div>
        </div>
      </div>

      <div class="flex-box">
        <div class=" contain-event">
          <div class="day-event ">
            <p class=day>22</p>
            <p class="month">tháng 3</p>
          </div>
          <div class="content-event">
            <p>Thông báo v/v nghỉ Lễ Ngày Chiến thắng (30/4) và Ngày Quốc tế Lao động (1/5) năm 2021</p>
          </div>
        </div>
        <div class="  contain-event">
          <div class="day-event ">
            <p class=day>22</p>
            <p class="month">tháng 3</p>
          </div>
          <div class="content-event">
            <p>Thông báo v/v nghỉ Lễ Ngày Chiến thắng (30/4) và Ngày Quốc tế Lao động (1/5) năm 2021</p>
          </div>
        </div>
      </div>






      <div class="btn-xem-ct">
        <a class="item-xct" href="#">Xem chi tiết <i class="fa fa-sort-asc"></i></a>
      </div>
    </div>

    <div class="notification">
      <div class="row d-flex justify-content-between">
        <div class="loa  col-xl-5 col-md-6">
          <img src="/assets/image/body/Trang-chu/thong-bao/LOA 1.png" alt="image" style="height: 84px">
          <h1>THÔNG BÁO</h1>
        </div>

        <div class="list-notification col-xl-7 col-md-6">
          <ul class="ul-list">
            <li class="list-items"><a class="item" href="">Thông báo tuyển dụng viên chức 2021</a> </li>
            <li class="list-items"><a class="item" href="">Thông báo mời gói thầu trang thiết bị y tế 2020</a> </li>
            <li class="list-items"><a class="item" href="">Thông báo v/v nghỉ Lễ Ngày Chiến thắng (30/4) và Ngày Quốc tế
                Lao động (1/5) năm 2021</a> </li>
            <li class="list-items"><a class="item" href="">Thông báo tuyển sinh đại học 2022</a></li>
          </ul>
        </div>
      </div>

      <div class="btn-xem-ct ">
        <a class="item-xct" href="#">Xem chi tiết <i class="fa fa-sort-asc"></i></a>
      </div>
    </div>
  </div>
</div>
