<div class="tin-chuyen-muc">
  <div class="title">
    TIN CHUYÊN MỤC
  </div>

  <ul class="ul-list-items">
    <li>
      <a class="link-item" href="">Thông tin nhà trường</a>
    </li>
    <li>
      <a class="link-item" href="">Trang chủ</a>
    </li>
    <li>
      <a class="link-item" href="">Đảm bảo chất lượng</a>
    </li>
    <li>
      <a class="link-item" href="">Nội dung công khai</a>
    </li>
    <li>
      <a class="link-item" href="">Chuẩn đầu ra</a>
    </li>
    <li>
      <a class="link-item" href="">Văn bản</a>
    </li>
    <li>
      <a class="link-item" href="">Y học thưởng thức</a>
    </li>
    <li>
      <a class="link-item" href="">Phổ biến văn bản quy phạm pháp luật</a>
    </li>
    <li>
      <a class="link-item" href="">Thanh tra, kiểm tra</a>
    </li>
  </ul>
</div>

<div class="thong-bao">
  <div class="title">
    THÔNG BÁO
  </div>
  <div class="list-thong bao">
    <ul class="ul-list-tb">
      <li>
        <a class="link-item-tb" href="">
          Thông báo v/v nghỉ Lễ Ngày Chiến thắng (30/4) và Ngày Quốc tế Lao động (1/5) năm 2021
        </a>
      </li>
      <li>
        <a class="link-item-tb" href="">
          Thông báo v/v nghỉ Lễ Ngày Chiến thắng (30/4) và Ngày Quốc tế Lao động (1/5) năm 2021
        </a>
      </li>
      <li>
        <a class="link-item-tb" href="">
          Thông báo v/v nghỉ Lễ Ngày Chiến thắng (30/4) và Ngày Quốc tế Lao động (1/5) năm 2021
        </a>
      </li>
      <li>
        <a class="link-item-tb" href="">
          Thông báo v/v nghỉ Lễ Ngày Chiến thắng (30/4) và Ngày Quốc tế Lao động (1/5) năm 2021
        </a>
      </li>
    </ul>
  </div>
</div>


<div class="su-kien">
  <div class="title">
    SỰ KIỆN HPMU
  </div>
  <div class="list-su-kien">
      <ul class="ul-list-su-kien" >
        <li class = "row d-flex">
          <div class=" col-4 d-flex justify-content-center" >
            <div class="time">
              <p class="day">22</p>
              <p class = "month">tháng 3</p>
            </div>
          </div>
          <div class="col-8 content-su-kien">
              <p>Thông báo v/v nghỉ Lễ Ngày Chiến thắng (30/4) và Ngày Quốc tế Lao động (1/5) năm 2021</p>
          </div>
        </li>
        <li class = "row d-flex">
          <div class=" col-4 d-flex justify-content-center" >
            <div class="time">
              <p class="day">22</p>
              <p class = "month">tháng 3</p>
            </div>
          </div>
          <div class="col-8 content-su-kien">
              <p>Thông báo v/v nghỉ Lễ Ngày Chiến thắng (30/4) và Ngày Quốc tế Lao động (1/5) năm 2021</p>
          </div>
        </li>
        <li class = "row d-flex">
          <div class=" col-4 d-flex justify-content-center" >
            <div class="time">
              <p class="day">22</p>
              <p class = "month">tháng 3</p>
            </div>
          </div>
          <div class="col-8 content-su-kien">
              <p>Thông báo v/v nghỉ Lễ Ngày Chiến thắng (30/4) và Ngày Quốc tế Lao động (1/5) năm 2021</p>
          </div>
        </li>
        <li class = "row d-flex">
          <div class=" col-4 d-flex justify-content-center" >
            <div class="time">
              <p class="day">22</p>
              <p class = "month">tháng 3</p>
            </div>
          </div>
          <div class="col-8 content-su-kien">
              <p>Thông báo v/v nghỉ Lễ Ngày Chiến thắng (30/4) và Ngày Quốc tế Lao động (1/5) năm 2021</p>
          </div>
        </li>

      </ul>
  </div>
</div>
