.title {
  font-family: UTM-HelveInt;
  font-size: 22px;
  line-height: 33px;
  color: #0081d5;
  border-bottom: 2px solid #fa9b19;
  position: relative;
  padding: 12px;
}

.title::after {
  content: "";
  position: absolute;
  border-top: 4px solid rgba(0, 129, 213, 1);
  width: 100%;
  bottom: -6px;
  left: 0;
}

.tin-chuyen-muc,
.thong-bao,
.su-kien {
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
}

.tin-chuyen-muc .ul-list-items {
  padding: 12px;
  list-style: url("/assets/image/footer-image/Vector 6.png") inside;
}


.tin-chuyen-muc .ul-list-items li {
  padding: 4px 0;
}



.tin-chuyen-muc .ul-list-items li .link-item {
  font-family: UTM-HelveInt;
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
  color: #0081d5;
}
.thong-bao .ul-list-tb {
  /* position: relative;
  left: 20px; */
  list-style: inside;
}

.thong-bao .ul-list-tb li {
  margin: 10px;
  border-bottom: 1px solid rgba(240, 240, 240, 1);
  padding: 10px 10px;
}

.thong-bao .ul-list-tb li::marker {
  color: rgba(250, 155, 25, 1);
  width: 14px;
}

.thong-bao .ul-list-tb li .link-item-tb {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #0081d5;
}

.su-kien .ul-list-su-kien {
  margin: 20px 0;
  list-style: none;
}

.su-kien .ul-list-su-kien .row-container {
  display: flex;
  column-gap: 10px;
  margin: 8px 4px;
  border-bottom: 1px solid rgba(240, 240, 240, 1);
  padding-bottom: 12px;
}

.content-time {
  flex: 30%;
  display: flex;
}

.content-su-kien {
  flex: 70%;
}

.time {
  background: #0081d5;
  border-radius: 6px;
  align-items: center;
  padding: 4px;
  align-self: center;
}

.su-kien .day {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  color: white;
  align-items: center;
  margin-bottom: 2px;
}

.su-kien .month {
  text-align: center;
  margin: 0;
  font-size: 14px;
  line-height: 22px;
  color: white;
  align-items: center;
}
.su-kien .content-su-kien p {
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  color: #0081d5;
  margin: 0;
}
