<div class="container">
  <div class="lien-ket-hpmu">
      <div class="title">
        <h2>LIÊN KẾT</h2>
      </div>

      <div class="row ">
        <div class="col-xl-2 col-md-6 item-conecting"><img src="/assets/image/body/Trang-chu/Lien-ket/Rectangle 341.png" alt=""><a href="#" class = "link-conecting" >KHOA ĐƯỢC HỌC</a></div>
        <div class="col-xl-2 col-md-6 item-conecting"><img src="/assets/image/body/Trang-chu/Lien-ket/Rectangle 341 (1).png" alt=""><a href="#" class = "link-conecting" >KHOA Y TẾ CỘNG ĐỒNG</a></div>
        <div class="col-xl-2 col-md-6 item-conecting"><img src="/assets/image/body/Trang-chu/Lien-ket/Rectangle 341 (2).png" alt=""><a href="#" class = "link-conecting" >KHOA Y HỌC BIỂN</a></div>
        <div class="col-xl-2 col-md-6 item-conecting"><img src="/assets/image/body/Trang-chu/Lien-ket/Rectangle 341 (3).png" alt=""><a href="#" class = "link-conecting" >KHOA ĐIỀU DƯỠNG</a></div>
        <div class="col-xl-2 col-md-6 item-conecting"><img src="/assets/image/body/Trang-chu/Lien-ket/Rectangle 341 (4).png" alt=""><a href="#" class = "link-conecting" >KHOA KỸ THUẬT Y HỌC</a></div>
      </div>
      <div class="row ">
        <div class="col-xl-2 col-md-6 item-conecting"><img src="/assets/image/body/Trang-chu/Lien-ket/Rectangle 341 (5).png" alt=""><a href="#" class = "link-conecting" >KHOA RĂNG HÀM MẶT</a></div>
        <div class="col-xl-2 col-md-6 item-conecting"><img src="/assets/image/body/Trang-chu/Lien-ket/Rectangle 341 (6).png" alt=""><a href="#" class = "link-conecting" >KHOA Y HỌC CỔ TRUYỀN</a></div>
        <div class="col-xl-2 col-md-6 item-conecting"><img src="/assets/image/body/Trang-chu/Lien-ket/Rectangle 341 (7).png" alt=""><a href="#" class = "link-conecting" >TT HỢP TÁC & PHÁT TRIỂN ĐÀO TẠO</a></div>
        <div class="col-xl-2 col-md-6 item-conecting"><img src="/assets/image/body/Trang-chu/Lien-ket/Rectangle 341 (8).png" alt=""><a href="#" class = "link-conecting" >TT NGOẠI NGỮ - TIN HỌC</a></div>
        <div class="col-xl-2 col-md-6 item-conecting"><img src="/assets/image/body/Trang-chu/Lien-ket/Rectangle 341 (9).png" alt=""><a href="#" class = "link-conecting" >BỆNH VIỆN TRƯỜNG</a></div>
      </div>
  </div>
</div>
