.container{
  margin: 21px auto;
}


.lien-ket-hpmu {
  border-top: 6px solid #fa9b19;
  background: rgba(249, 249, 249, 1);
  padding-bottom: 16px;
}

.lien-ket-hpmu .title {
  background-color: rgba(0, 129, 213, 1);
}

.lien-ket-hpmu .title h2 {
  font-family: UTM-HelveInt;
  font-size: 22px;
  line-height: 33px;
  font-weight: 400;
  color: #ffffff;
  padding: 8px 16px;
}

.lien-ket-hpmu .row-items {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
  padding: 40px 0;
}

.lien-ket-hpmu .row-items .item-conecting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  flex: 20%;
  align-items: baseline;
}




@media (max-width: 800px) {
  .lien-ket-hpmu .row-items {
    flex-direction: column;
    padding: 14px 0;
  }
  .lien-ket-hpmu .row-items .item-conecting{
    padding: 12px 0;
  }
  .lien-ket-hpmu .title h2{
    font-size: 0.9rem;
  }
}

.lien-ket-hpmu .row-items .item-conecting img{
  width: 79px;
  height: 79px;
  align-self: center;
  margin-bottom: 10px;

}

.lien-ket-hpmu .row-items .item-conecting .link-conecting {
  font-size: 16px;
  line-height: 24px;
  font-family: UTM-HelveInt;
  color: #0081d5;
  align-self: center;
  text-align: center;
}
