<div class="second-page">
  <div class="container-fluid">
    <div class="content  row">
      <div class="title col-5">
        Làm việc với một nhóm những người giỏi và nhiệt huyết
      </div>
      <div class="descrip col-5">
        Node.JS, JavaScript, React Native, Scrum Master, QA, DevOps. Chúng tôi đang tìm kiếm những tài năng tuyệt vời.
        Những người thay đổi cuộc chơi, những người thích hành động, những người cởi mở đơn giản là những người quan tâm
        đến những gì họ làm và nắm lấy sự gắn kết của đội hình này.
      </div>
    </div>

    <div class="library-img">
      <div class="content-img row">
        <div class="col-5">
          <div class="row " style="padding-bottom: 20px;">
            <div class="col-4" style="padding: 0;"><img src="/assets/image/library-image/image 29.png" alt=""
                style="padding-bottom: 20px">
              <img src="/assets/image/library-image/image 38.png" alt="">
            </div>
            <div class="col-3"><img src="/assets/image/library-image/image 31.png" alt=""></div>
          </div>
          <div class="row ">
            <div class="col" style="padding: 0;"><img src="/assets/image/library-image/image 34.png" alt=""></div>
            <div class="col"><img src="/assets/image/library-image/image 37.png" alt="" style="margin-left: 30px"></div>
          </div>
        </div>
        <div class="col-5">
          <div class="row">
            <div class="col" style="padding: 0;"><img src="/assets/image/library-image/image 30.png" alt=""></div>
            <div class="col"><img src="/assets/image/library-image/image 33.png" alt="" style="margin-left: 30px"></div>
          </div>
          <div class="row" style="padding-top: 20px;">
            <div class="col-4" style="padding: 0;"><img src="/assets/image/library-image/image 35.png" alt=""
                style="padding-bottom: 20px">
              <img src="/assets/image/library-image/image 36.png" alt="">
            </div>
            <div class="col-3"><img src="/assets/image/library-image/image 32.png" alt=""></div>
          </div>
        </div>
      </div>
    </div>





    <div class="interview ">
      <div class="main-title-interview">
        Công ty có 4 vị trí đang tuyển
      </div>
      <div class="row">
        <div class="detail-interview col-5">
          <div class="title-interview">
            DevOps Engineer (Python, Linux)
          </div>
          <ul class=" list-interview">
            <li>Up to $2000</li>
            <li> Review tăng lương 2 lần/năm</li>
            <li> Nhiều hoạt động teambuilding</li>
          </ul>
          <div class="btn-xem-chi-tiet">
            <a href="">Xem chi tiết <i class="fa fa-long-arrow-right"></i></a>
          </div>
        </div>
        <div class="detail-interview col-5">
          <div class="title-interview">
            Automation Test Engineer (All Levels)
          </div>
          <ul class=" list-interview">
            <li>Job security - skip probation</li>
            <li>Private health care for family</li>
            <li> 1st-class offices & facilities</li>
          </ul>
          <div class="btn-xem-chi-tiet">
            <a href="">Xem chi tiết <i class="fa fa-long-arrow-right"></i></a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="detail-interview col-5">
          <div class="title-interview">
            Senior Technical Business Analyst
          </div>
          <ul class=" list-interview">
            <li>Competitive salary + bonus </li>
            <li>Premium healthcare package</li>
            <li>English working environment</li>
          </ul>
          <div class="btn-xem-chi-tiet">
            <a href="">Xem chi tiết <i class="fa fa-long-arrow-right"></i></a>
          </div>
        </div>
        <div class="detail-interview col-5">
          <div class="title-interview">
            Fullstack Ruby Developer (Ruby,ReactJS)
          </div>
          <ul class=" list-interview">
            <li>14 days annual leave per year </li>
            <li> 13th salary & others bonuses</li>
            <li> Social Insurance full salary</li>
          </ul>
          <div class="btn-xem-chi-tiet">
            <a href="">Xem chi tiết <i class="fa fa-long-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>


    <div class="process">
      <div class="title">
        Quy trình xử lý hồ sơ
      </div>
      <div class="row list-process">
        <div class="col-2">
          <div class="stt">1</div>
          <div class="quy-trinh-chinh">CV / Profile</div>
          <div class="quy-trinh">Review </div>
          <div class="noi-dung"> Nhóm nhân sự của chúng tôi sẽ xem xét hồ sơ của bạn trong vòng 72 giờ kể từ khi bạn nộp
            đơn và ngay sau đó chúng tôi sẽ liên hệ với bạn.</div>
        </div>
        <div class="col-2">
          <div class="stt">2</div>
          <div class="quy-trinh-chinh">HR</div>
          <div class="quy-trinh">Interview </div>
          <div class="noi-dung"> Tiếp theo là cuộc gọi giới thiệu trò chuyện 30 phút với một thành viên của nhóm nhân sự
            để hiểu rõ hơn về bạn.</div>
        </div>
        <div class="col-2">
          <div class="stt">3</div>
          <div class="quy-trinh-chinh">Technical</div>
          <div class="quy-trinh">Interview </div>
          <div class="noi-dung"> Bạn sẽ có một phỏng vấn trực tiếp với CTO trong vòng 60 phút để thảo luận thêm và bao
            gồm tất cả các chi tiết kỹ thuật cùng nhau.</div>
        </div>
        <div class="col-2">
          <div class="stt">4</div>
          <div class="quy-trinh-chinh">Coding</div>
          <div class="quy-trinh">Testing </div>
          <div class="noi-dung"> Bạn tham gia hoàn thành bài test đầu tiên của mình, chúng tôi thực hiện đánh giá với
            nhóm. Nếu mọi việc suôn sẻ, đó là cơ hội để bạn làm việc tại ASCVN.</div>
        </div>
        <div class="col-2">
          <div class="stt">5</div>
          <div class="quy-trinh-chinh">Final</div>
          <div class="quy-trinh">Interview </div>
          <div class="noi-dung"> Vòng cuối cùng, nơi chúng ta thảo luận về những kỳ vọng / kế hoạch tương lai của bạn và
            của chúng ta, và xem liệu chúng ta có trở thành đồng nghiệp cùng nhau hay không. </div>
        </div>

      </div>
    </div>
  </div>
</div>
