
<div class="second-layout">
  <div class="products-solutions container-fluid">
    <p>Products & Solutions</p>
  </div>
  <div class="container">
    <div class="title-m">
      <h2>Sản phẩm & Giải pháp <br>
        của chúng tôi</h2>
    </div>
  </div>
  <div class="container-fuild">
    <div class="list-mobie">
      <div class="mobie d-flex">
        <div class="img-mobie-0">
          <img src="assets/image/mobie/mb0 1.png" alt="image">
          <div class="img-mobie-1">
            <img src="assets/image/mobie/mb1 1.png" alt="image">
          </div>
        </div>
        <div class="descrip-mobie">
          <p class="sub-title-m">1. ASC EGOV</p>
          <h3 class="main-title-m">ỨNG DỤNG DÀNH CHO <br>
            GIẢNG VIÊN</h3>
          <p class="detail-m">
            ASC EGOV là một ứng dụng quản lý lịch <br> giảng, thời khóa biểu, thông báo
          </p>
          <div class="btn-arrow-m">
            <i class="fa fa-long-arrow-right"></i>
          </div>
        </div>
      </div>

      <div class="mobie d-flex">
        <div class="img-mobie-0">
          <div class="big-cricle">

          </div>
          <img src="assets/image/mobie/mb0 1.png" alt="image">
          <div class="img-mobie-1">
            <img src="assets/image/mobie/mb1 1.png" alt="image">
          </div>
        </div>
        <div class="descrip-mobie">
          <p class="sub-title-m">2. ASC SCHOOL</p>
          <h3 class="main-title-m">ỨNG DỤNG KẾT NỐI <br>
            PHỤ HUYNH & NHÀ TRƯỜNG</h3>
          <p class="detail-m">
            ASC SCHOOL là một ứng dụng kết quả <br> học tập của học sinh.
          </p>
          <div class="btn-arrow-m">
            <i class="fa fa-long-arrow-right"></i>
          </div>
        </div>
      </div>

      <div class="mobie d-flex">
        <div class="img-mobie-0">

          <img src="assets/image/mobie/mb0 1.png" alt="image">
          <div class="img-mobie-1">
            <img src="assets/image/mobie/mb1 1.png" alt="image">
          </div>
        </div>
        <div class="descrip-mobie">
          <p class="sub-title-m">3. ASC STUDENT</p>
          <h3 class="main-title-m">ỨNG DỤNG DÀNH CHO <br>
            SINH VIÊN</h3>
          <p class="detail-m">
            ASC STUDENT là một ứng dụng quản lý <br> lịch lịch học, lịch thi, thời khóa biểu.
          </p>
          <div class="btn-arrow-m">
            <i class="fa fa-long-arrow-right"></i>
          </div>
        </div>
      </div>
    </div>
  </div>



</div>
