<div class="third-page">
  <div class="title">
    <h2>Chúng tôi tin vào những gì chúng <br>
      tôi làm và điều đó thúc đẩy <br>
      chúng tôi vượt trội</h2>
  </div>
  <div class="content">
    <p>Chúng tôi thực hiện sự chuyển đổi kỹ thuật số bằng cách cung cấp các dịch <br>
      vụ toàn diện gắn công nghệ vào hoạt
      động giáo dục.</p>
  </div>
  <div class="avata">
    <div class="avata-img">
      <img src="assets/image/background-img/image-13.png" alt="image">
    </div>
    <div class="avata-name">
      <h2>BUI VIET SANG</h2>
      <p>Phó giám đốc </p>
    </div>
  </div>
</div>


<div class="page-vision">
  <div class="title">
    <h2>Tầm nhìn & Sứ mệnh</h2>
  </div>
  <div class="list-vision">
    <div class="item-vision">
      <img src="assets/image/group-img/Group.png" alt="image">
      <div class="title-list">Giải pháp công nghệ</div>
      <div class="descrip-list">Mang đến cho trường học các giải
        <br> pháp công nghệ tiên tiến, chất lượng, <br>
        hiện đại, phù hợp
        với môi trường <br>
        giảng dạy.
      </div>
    </div>
    <div class="item-vision">
      <img src="assets/image/group-img/setting-1.png" alt="image">
      <div class="title-list">Tiện ích</div>
      <div class="descrip-list">Mang đến những tiện ích và hiệu quả <br>
        cho người dùng và công tác quản lý.</div>
    </div>
    <div class="item-vision">
      <img src="assets/image/group-img/Group-3.png" alt="image">
      <div class="title-list">Công tác quản lý</div>
      <div class="descrip-list">Xóa bỏ mọi khoảng cách trong công
        <br> tác quản lý giữa thành thị và nông
        <br>thôn.
      </div>
    </div>
    <div class="item-vision">
      <img src="assets/image/group-img/Group-4.png" alt="image">
      <div class="title-list">Nhà cung cấp hàng đầu</div>
      <div class="descrip-list">Trở thành nhà cung cấp hàng đầu về
        <br>
        giải pháp quản trị tiên tiến và toàn
        <br>
        diện trong việc
        quản lý trong môi <br>
        trường giáo dục Việt Nam.
      </div>
    </div>

  </div>
</div>
