
<h3 class="main-title">Truyền thông và ASC</h3>


<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home"
      aria-selected="true">Tất cả tin</a>
    <a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
      aria-controls="nav-profile" aria-selected="false">Tin báo chí</a>
    <a class="nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
      aria-controls="nav-contact" aria-selected="false">Tin tuyển dụng</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="flex-container row">
            <div class="card col-3">
              <img class="" src="assets/image/slide/VCG211162068225 1.png" alt="image">
              <h3 class="title">Bộ GD&ĐT ra mắt Nền tảng quản trị trường học “tất cả
                trong một” EGOV SCHOOL</h3>
              <p class=description>Egov School với nhiều ưu điểm vượt trội, được kỳ vọng là một trong những doanh
                nghiệp
                đi tiên phong trong Chương trình Chuyển đổi số Quốc gia do Bộ
                TT&TT chủ trì.</p>
            </div>
            <div class="card col-3">
              <img class="" src="assets/image/slide/VCG21gic20015815 1.png" alt="image">
              <h3 class="title">EGOV SCHOOL tặng gói làm việc từ xa
                cho 1.000 doanh nghiệp</h3>
              <p class=description>Nền tảng quản trị doanh nghiệp EGOV SCHOOL hỗ trợ các doanh nghiệp, đặc
                biệt là doanh nghiệp nhỏ và vừa quy mô dưới 10 nhân sự, tối đa 3 tháng.</p>
            </div>
            <div class="card col-3">
              <img class="" src="assets/image/slide/VCG211162067266 1.png" alt="image">
              <h3 class="title">Giải pháp EGOV SCHOOL quản trị doanh nghiệp “không
                giấy tờ” ứng dụng công nghệ số và trí tuệ nhân tạo</h3>
              <p class=description>EGOV SCHOOL là hệ thống giải pháp quản trị toàn bộ các khâu của doanh
                nghiệp do người
                Việt Nam sáng tạo và làm chủ,</p>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
    bbb</div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
    ccc</div>
</div>
