<div class="container">
  <div class="tin-tuc-hpmu">
    <div class="title">
      <h2>TIN TỨC</h2>
    </div>

    <div class="content">
      <div class="row">
        <div class="col col-xl-6 col-md-12">
          <img  class = "img-news"src="/assets/image/body/Trang-chu/Tin-tuc/Rectangle 337.png" alt="">
          <div class="title-content">
            <a href="">Tuyển sinh liên thông, văn bằng 2 chính quy đợt cuối năm 2021</a>
          </div>
          <div class="description-content">
            Thông báo tuyển sinh liên thông; văn bằng 2 hệ chính quy - đợt cuối cùng của năm 2020
          </div>

        </div>
        <div class="col col-xl-6 col-md-12">
            <ul class= "list-news">
              <li class = "news-items show"><img src="/assets/image/body/Trang-chu/Tin-tuc/image 43.png" alt="image"><a href="">GIẢNG VIÊN - SINH VIÊN NGÀNH HƯỚNG DẪN DU LỊCH</a></li>
              <li class = "news-items show"><img src="/assets/image/body/Trang-chu/Tin-tuc/image 43 (1).png" alt="image"><a href="">LỄ KÝ KẾT HỢP TÁC CỦA TRƯỜNG VỚI ĐẠI HỌC Y DƯỢC TP. HCM </a></li>
              <li class = "news-items show"><img src="/assets/image/body/Trang-chu/Tin-tuc/image 43 (2).png" alt="image"><a href="">LỄ TỐT NGHIỆP SINH VIÊN TRƯỜNG Y DƯỢC HẢI PHÒNG </a></li>
              <li class = "news-items show"><img src="/assets/image/body/Trang-chu/Tin-tuc/image 43 (3).png" alt="image"><a href="">GIỜ HỌC THỰC HÀNH CỦA SINH VIÊN KHOA ĐIỆN LẠNH </a></li>
              <li class = "news-items"><img src="/assets/image/body/Trang-chu/Tin-tuc/image 43 (4).png" alt="image"><a href=""> THỰC HÀNH SINH VIÊN NGÀNH DU LỊCH NHÀ HÀNG</a></li>
            </ul>

        </div>
      </div>
    </div>
  </div>
</div>
