<div class="container">
  <div class="tuyen-sinh-hpmu">
    <div class="title">
      <h2>TUYỂN SINH - ĐÀO TẠO</h2>
    </div>

    <div class="list-tuyen-sinh">
      <div class=" row-list  ">
        <div class=" dai-hoc contain-item">
          <a href="" class = "content-item ">ĐẠI HỌC</a>
        </div>
        <div class=" sau-dai-hoc contain-item">
          <a href="" class = "content-item">SAU ĐẠI HỌC</a>
        </div>
        <div class="col-md-12 theo-nhu-cau contain-item">
          <a href="" class = "content-item">THEO NHU CẦU XÃ HỘI</a>
        </div>
      </div>
    </div>

    <div class="tb-tuyen-sinh">
      <div class="row">
        <div class="col-5 col-md-6">
          <ul class = "list-items">
            <li class = "list-item"><a class = "link-thong-tin"href="">TUYỂN SINH ĐẠI HỌC NĂM 2021</a> </li>
            <li class = "list-item"><a class = "link-thong-tin"href="">TUYỂN SINH ĐẠI HỌC NĂM 2021</a> </li>
            <li class = "list-item"><a class = "link-thong-tin"href="">TUYỂN SINH LỚP DA LIỄU CƠ BẢN</a> </li>
            <li class = "list-item"><a class = "link-thong-tin"href="">TUYỂN SINH LỚP CHỨNG CHỈ Y HỌC GIA ĐÌNH</a> </li>
            <li class = "list-item"><a class = "link-thong-tin"href="">TUYỂN SINH LỚP CHỨNG CHỈ Y HỌC GIA ĐÌNH</a> </li>
          </ul>
            <div class="xem-tat-ca">
              <a href="">Xem tất cả <i class = "fa fa-sort-asc"></i></a>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>


