
<div class="container">
    <div class="row">
      <div class="col-xl-6 col-md-12 my-md-auto">
          <h4 class = "school-name ">TRƯỜNG ĐẠI HỌC Y DƯỢC HẢI PHÒNG</h4>
          <p class = "school-infor">Địa chỉ: Số 72A Nguyễn Bỉnh Khiêm, Ngô Quyền, Hải Phòng <br>
            Điện Thoại: 02253.731.907 Fax: 02253.733.315 <br>
            Email: contact@hpmu.edu.vn
            </p>
            <img src="/assets/image/body/Trang-lien-he/image 46.png" alt="image map" style="width:100%">
      </div>
      <div class="col-xl-6 col-md-12 my-md-auto d-flex flex-column">
            <h4 class = "title-lien-he">LIÊN HỆ GÓP Ý</h4>
            <p class = "detail-lien-he">Vui lòng nhập đầy đủ thông tin. Chúng tôi sẽ liên hệ lại</p>
            <input class = "styte-text" type="text" placeholder="Tiêu đề">
            <input class = "styte-text" type="text" placeholder="Họ tên">
            <input class = "styte-text" type="text" placeholder="Email">
            <input class = "styte-text" type="text" placeholder="Email">
            <textarea class = "styte-text"  type="text" placeholder="Nội dung"  name="" id="" cols="30" rows="5"></textarea>
            <input class = "btn-gui" type="submit" value="GỬI">

      </div>
    </div>
</div>
