
<div class="list-link">
  <div class="container">
    <div class="row d-flex ">
      <div class="col-6">
        <ul class="ul-list-items">
          <li>
            <a class="link-item" href="">Thông tin nhà trường</a>
          </li>
          <li>
            <a class="link-item" href="">Trang chủ</a>
          </li>
          <li>
            <a class="link-item" href="">Đảm bảo chất lượng</a>
          </li>
          <li>
            <a class="link-item" href="">Nội dung công khai</a>
          </li>
          <li>
            <a class="link-item" href="">Chuẩn đầu ra</a>
          </li>
        </ul>
      </div>
      <div class="col-6">
        <ul class="ul-list-items">
          <li>
            <a class="link-item" href="">Văn bản</a>
          </li>
          <li>
            <a class="link-item" href="">Y học thưởng thức</a>
          </li>
          <li>
            <a class="link-item" href="">Phổ biến văn bản quy phạm pháp luật</a>
          </li>
          <li>
            <a class="link-item" href="">Thanh tra, kiểm tra</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="bank-logo">
  <div class="container d-flex justify-content-between align-items-center">
    <div class="img-bank">
      <img class="img-item" src="assets/image/footer-image/image 5.png" alt="image">
    </div>
    <div class="img-bank">
      <img class="img-item" src="assets/image/footer-image/image 3.png" alt="image">
    </div>
    <div class="img-bank">
      <img class="img-item" src="assets/image/footer-image/image 4.png" alt="image">
    </div>
    <div class="img-bank">
      <img class="img-item" src="assets/image/footer-image/image 2.png" alt="image">
    </div>
    <div class="img-bank">
      <img class="img-item" src="assets/image/footer-image/image 6.png" alt="image">
    </div>
  </div>
</div>





<div class="information  ">
  <div class="container d-flex">
    <div class="detail-infor d-flex">
      <div class="school-logo">
        <img src="assets/image/footer-image/truong dai hoc y duoc hai phong logo 1.png" alt="">
      </div>
      <div class="detail-infor-HPMU">
        <h2 class="school-name">TRƯỜNG ĐẠI HỌC Y DƯỢC HẢI PHÒNG</h2>
        <!-- <p class="school-infor">  Số 72A Nguyễn Bỉnh Khiêm, Ngô Quyền, Hải Phòng </p>
        <p class="school-infor"> Điện Thoại: 02253.731.907 Fax: 02253.733.315</p>
        <p class="school-infor"> Email: contact@hpmu.edu.vn</p> -->
        <p class="school-infor"> Số 72A Nguyễn Bỉnh Khiêm, Ngô Quyền, Hải Phòng <br>
          Điện Thoại: 02253.731.907 Fax: 02253.733.315 <br>
          Email: contact@hpmu.edu.vn</p>
      </div>
    </div>
    <div class="conneting">
      <div class="connet-w-us">
          <h3>Kết nối chúng tôi</h3>
      </div>
      <div class="icon-brand">
          <a href="" class="icon-item"><i class = "fa fa-facebook"></i></a>
          <a href="" class="icon-item"><i class = "fa fa-youtube-play"></i></a>
          <a href="" class="icon-item"><i class = "fa fa-twitter"></i></a>
      </div>
      <div class="copyright">
        <p>&#169; 2021 Bản quyền thuộc về Trường Đại Học Y Dược Hải Phòng</p>
      </div>

    </div>
  </div>
</div>
