<div class="tin-tuc-nha-truong">
  <div class="main-title">
    <h2>TIN TỨC NHÀ TRƯỜNG</h2>
  </div>
</div>


<div class="row space-news">
  <div class="col-xl-5 col-md-6">
    <img src="/assets/image/body/Trang-tin-tuc/Rectangle 367.png" alt="image" style="width: 100%">
  </div>
  <div class="col-xl-7 col-md-6">
    <div class="content">
      <div class="title">Đánh giá triển khai công tác giáo dục hòa nhập tại Quảng Uyên, Cao Bằng và Na Rì, Bắc Cạn</div>
      <div class="decription">Ngày 11 tháng 1 năm 2019, Viện Khoa học Giáo dục Việt Nam tổ chức Lễ Công bố Quyết định
        thành lập Trung tâm Giáo dục Đặc biệt Quốc gia, tiền thân là Ban Nghiên cứu Giáo dục Đặc biệt.</div>
    </div>
  </div>
</div>


<div class="row g-0 space-news">
  <div class="col-xl-4 col-md-6"><img src="/assets/image/body/Trang-tin-tuc/Rectangle 367.png" alt="image"></div>
  <div class="col-xl-8 col-md-6 ">
    <div class="content">
      <div class="title">Đánh giá triển khai công tác giáo dục hòa nhập tại Quảng Uyên, Cao Bằng và Na Rì, Bắc Cạn</div>
      <div class="decription">Ngày 11 tháng 1 năm 2019, Viện Khoa học Giáo dục Việt Nam tổ chức Lễ Công bố Quyết định
        thành lập Trung tâm Giáo dục Đặc biệt Quốc gia, tiền thân là Ban Nghiên cứu Giáo dục Đặc biệt.</div>
    </div>
  </div>
</div>

<div class="row g-0 space-news">
  <div class="col-xl-4 col-md-6"><img src="/assets/image/body/Trang-tin-tuc/Rectangle 367.png" alt="image"></div>
  <div class="col-xl-8 col-md-6 ">
    <div class="content">
      <div class="title">Đánh giá triển khai công tác giáo dục hòa nhập tại Quảng Uyên, Cao Bằng và Na Rì, Bắc Cạn</div>
      <div class="decription">Ngày 11 tháng 1 năm 2019, Viện Khoa học Giáo dục Việt Nam tổ chức Lễ Công bố Quyết định
        thành lập Trung tâm Giáo dục Đặc biệt Quốc gia, tiền thân là Ban Nghiên cứu Giáo dục Đặc biệt.</div>
    </div>
  </div>
</div>
<div class="row g-0 space-news">
  <div class="col-xl-4 col-md-6"><img src="/assets/image/body/Trang-tin-tuc/Rectangle 367.png" alt="image"></div>
  <div class="col-xl-8 col-md-6 ">
    <div class="content">
      <div class="title">Đánh giá triển khai công tác giáo dục hòa nhập tại Quảng Uyên, Cao Bằng và Na Rì, Bắc Cạn</div>
      <div class="decription">Ngày 11 tháng 1 năm 2019, Viện Khoa học Giáo dục Việt Nam tổ chức Lễ Công bố Quyết định
        thành lập Trung tâm Giáo dục Đặc biệt Quốc gia, tiền thân là Ban Nghiên cứu Giáo dục Đặc biệt.</div>
    </div>
  </div>
</div>
<div class="row g-0 space-news">
  <div class="col-xl-4 col-md-6"><img src="/assets/image/body/Trang-tin-tuc/Rectangle 367.png" alt="image"></div>
  <div class="col-xl-8 col-md-6 ">
    <div class="content">
      <div class="title">Đánh giá triển khai công tác giáo dục hòa nhập tại Quảng Uyên, Cao Bằng và Na Rì, Bắc Cạn</div>
      <div class="decription">Ngày 11 tháng 1 năm 2019, Viện Khoa học Giáo dục Việt Nam tổ chức Lễ Công bố Quyết định
        thành lập Trung tâm Giáo dục Đặc biệt Quốc gia, tiền thân là Ban Nghiên cứu Giáo dục Đặc biệt.</div>
    </div>
  </div>
</div>
<div class="row g-0 space-news">
  <div class="col-xl-4 col-md-6"><img src="/assets/image/body/Trang-tin-tuc/Rectangle 367.png" alt="image"></div>
  <div class="col-xl-8 col-md-6 ">
    <div class="content">
      <div class="title">Đánh giá triển khai công tác giáo dục hòa nhập tại Quảng Uyên, Cao Bằng và Na Rì, Bắc Cạn</div>
      <div class="decription">Ngày 11 tháng 1 năm 2019, Viện Khoa học Giáo dục Việt Nam tổ chức Lễ Công bố Quyết định
        thành lập Trung tâm Giáo dục Đặc biệt Quốc gia, tiền thân là Ban Nghiên cứu Giáo dục Đặc biệt.</div>
    </div>
  </div>
</div>
<div class="row g-0 space-news">
  <div class="col-xl-4 col-md-6"><img src="/assets/image/body/Trang-tin-tuc/Rectangle 367.png" alt="image"></div>
  <div class="col-xl-8 col-md-6 ">
    <div class="content">
      <div class="title">Đánh giá triển khai công tác giáo dục hòa nhập tại Quảng Uyên, Cao Bằng và Na Rì, Bắc Cạn</div>
      <div class="decription">Ngày 11 tháng 1 năm 2019, Viện Khoa học Giáo dục Việt Nam tổ chức Lễ Công bố Quyết định
        thành lập Trung tâm Giáo dục Đặc biệt Quốc gia, tiền thân là Ban Nghiên cứu Giáo dục Đặc biệt.</div>
    </div>
  </div>
</div>





<div class="flex-btn">
  <button class = "style-btn" type ="button"> <i class ="	fa fa-angle-double-left"></i>  </button>
  <button class = "style-btn active" type ="button"> 1</button>
  <button class = "style-btn " type ="button"> 2 </button>
  <button class = "style-btn " type ="button"> 3 </button>
  <button class = "style-btn " type ="button"> <i class ="	fa fa-angle-double-right"></i>  </button>
</div>
