<div class="first-page">
  <div class="container">
    <div class="padding-page">
      <nav>
        <a routerLink="Trang-chu" routerLinkActive="active-link">Trang chủ</a>
        <a routerLink="Tuyen-dung" routerLinkActive="active-link">Tuyển dụng</a>
      </nav>
      <div class="title">
        <h2>Chúng tôi là công ty
          <br> tuyển dụng tốt nhất tại Việt Nam
        </h2>
      </div>
      <div class="sub-title">
        <p>Tham gia vào đội ngũ chuyên gia công
          nghệ đầy nhiệt huyết,<br>
           những người tạo ra những sản phẩm có giá trị mỗi
          ngày.</p>
      </div>
    </div>
  </div>

</div>
