
@font-face {
    font-family: 'TT Commons';
    src: url(//db.onlinewebfonts.com/c/641c9e475af26c0f996b4b3b11a1c2b2?family=TT+Commons+W01);

}

html{
    font-family: 'TT Commons';
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

#header-nav{
    width: auto;
    top: 0;
    left: 0;
}

#hear-navbar{
    width: auto;
    max-width: 100%;
    margin: 0 30px;
    padding-top: 20px;
    margin-bottom: 20px;
}

#navbar{
    position: relative;
    height: 80px;

}

#logo-asc img{
    
}

#main-nav{
    position: absolute;
    top: 25px;
    bottom: 0px;
    right: 0px;
}

#menu #main-nav li{
    margin-left: 10px;
    list-style: none;
    display:  inline-block;
    padding: 20px 0;
    
}

#menu .btn-menu{
    /* color: rgba(50, 54, 72, 1); */
    border: none;
    background: white;
    font-weight: 560;
    outline: none;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}


/* #menu .btn-menu:active{
    border:1 solid rgba(236, 28, 36, 1);
    border-radius: 100px;
    color: white;
    background-color: rgba(236, 28, 36, 1);
    padding: 14px 14px;
} */


#main-nav #menu-item-007 .border-sp .edit-sp{
    
    color: white;
    text-decoration: none;
    font-size: 20px;
}


#menu #main-nav #menu-item-007 .border-sp .label{
    font-size: 20px;
    font-weight: 700;
}



#main-nav .main-menu{

}

#menu #main-nav .item-sp{
    color: rgba(50, 54, 72, 1);

    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
}


#menu #main-nav .main-menu .item-sp{
    letter-spacing: 0;
}

#menu #main-nav .main-menu .item-sp:hover,
#menu #main-nav .main-menu .item-sp:active{
    letter-spacing: 1px;
    display: block;
    border-bottom: 5px solid rgba(236, 28, 36, 1);
    
    font-weight: bold;
}




.border-sp{

    border-radius: 100px;
    color: white;
    background: rgba(236, 28, 36, 1);
    font-weight: 600;
    text-decoration: none;
    font-size: 20px;
    padding: 12px 17px;
} 


.border-sp:hover{
    color: rgba(236, 28, 36, 1);
    background-color: white;
    text-decoration: none;
}

#menu-icon-close{
   display: none; 
}

#menu #main-nav .main-menu::after, .clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.edit-lag{
    border-radius: 100%;
    color: white;
    background: rgba(236, 28, 36, 1);
    font-weight: 600;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
}


.list-menu-items{
    font-size: 24px;
    font-weight: 900;
}

.edit-lag:hover{
    color: rgba(236, 28, 36, 1);
    background-color: white;
    text-decoration: none;
}

#body{
    padding: 50px 0;
    width: auto;
    max-width: 100%;
   
}
#body #header-section{
    position: relative;
    
}

#body #header-section::after{
    content: "";
    position: absolute;
    display: block;
    top: -150px;
    left: 0;
    background-image: url(background-img/abc.png);
    background-size: cover;
    width: 50%;
    height: 100%;
    opacity: 0.2;
    z-index: -1;
}

#body #header-section #page-width-title{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column; 
    text-align: center;
}

#body #header-section #page-width-title h1{
    font-size: 40px;
    margin-bottom: 20px;
    line-height: 68px;;
    letter-spacing: -.04em;
    font-weight: 600;
    max-width: 700px;
}

#body #header-section #page-width-title h2{
    font-size: 16px;
    width: 500px;
    font-weight: 300;
}

#body #header-section #page-width-title .m-s{
    position: relative;
    width: 291px;
    height: 43px; 
    margin: 40px;
}


#body #header-section #page-width-title .m-s p::after{
    content: '';
    display: block;
    position: absolute;
    width: 142px;
    border: 4px solid rgba(236, 28, 36, 1);;
    background: rgba(236, 28, 36, 1);
    top: 84px;
    left: 70px;

}

#body #header-section #page-width-title .m-s p::before{
    content: '';
    display: block;
    position: absolute;
    width: 200px;
    border: 4px solid white;
    /* background: rgba(236, 28, 36, 1); */
    top: 84px;
    left: 38px;

}


#body #header-section #page-width-title p{
    font-size: 16px;
    margin-top: 40px;
    text-align: center;
    width: 100%;
    padding: 10px;
    border-style: solid;
    text-transform: uppercase;
    border-color: rgba(0, 0, 0, 0.1);
}



#f-row .item,
#s-row .item{
    background: #FFFFFF;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 16px;
    margin: 0 5px;
    width: 237px;
    height: 148px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.first-row-list{
    margin-top: 54px;
    width: 100%;
}

.second-row-list{
    width: 100%;
}


.owl-carousel .owl-item img{
    width: auto;
}

#header-section .see-more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 38px;
    margin-bottom: 54px;
}
#header-section .see-more p{
    color: white;
    background-color: red;
    border-radius: 50%;
    border-style: solid;    
    border-radius: 100px;
    padding: 10px 20px;
}

#header-section .see-more p i{
    font-size: 16px;
    font-weight: 300;
    color: red;
    background-color: white;
    border-style: solid;    
    border-radius: 50%;
    padding: 5px;
}

#body-section {
    background-color: rgba(0, 90, 169, 1);
    height: 864px;
    position: relative;
}

#body-section #body-s-title {
    text-align: center;
    color: white;
    padding: 68px 0 48px 0;
    max-width: 550px;
    font-size: 50px;
    font-weight: 700;
}

#body-section #body-s-des{
    padding-top: 70px;
    
}

#body-section .background-cricle{
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    top: 220px;
    left: 450px;
    background: rgba(0, 28, 53, 0.1);


}



#body-s-des .mobie-0{
    position: relative;
    max-width: 100%;
}


#body-s-des .mobie-1{
    position: absolute;
    top: 40px;
    left: 44px;
    width: 100%;
    max-width: 100%;
}

#body-s-des .description{
    color: white;
    width: auto;
    margin-top: 50px;
    margin-left: 50px;
}

#body-s-des .description h3{
    font-weight: 700;
}

#body-s-des .description .border-shawdo{
    display: flex;
    justify-content: center;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    width: 71px;
    max-width: 100%;
    padding: 16px;
}

#body-s-des .description .border-shawdo i{
    color: rgba(0, 90, 169, 1);
    border-radius: 50%;
    background-color: white;
    padding: 10px;
    /* margin-top: 50px; */
}

#body-section .body-s-f{
    position: absolute;
    bottom: 0;
    color: white;
    font-size: 150px;
    font-weight: 900;
    opacity: 0.1;
    text-align: center;
    

}








#body-6-p{
    width: auto;
    max-width: 100%;
    margin: auto;
    padding-top: 20px;
}

#body-6-p .type-of-system{
    width: auto;
    display: block;
    padding: 58px 0;
    margin: 0 20px;
    
}
.type-of-system .item-of-system{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 68px;
}


.type-of-system .item-of-system .icon-system{
    
    font-size:  56px;
    
}



.type-of-system .item-of-system .des-system{
    margin: 0 6px;
}



.type-of-system .item-of-system .icon-system .edit-icon-01,
.edit-icon-02,
.edit-icon-03,
.edit-icon-04,
.edit-icon-05,
.edit-icon-06{
    border-radius: 50px;
    border-style: none;
    padding: 23px 23px;
    

}

.type-of-system .item-of-system .des-system .mini-title{
    font-size: 18px;
    color: #5B5E6D;
    margin-bottom:8px;
}

.type-of-system .item-of-system .des-system h3{
    font-size: 28px;
    font-weight: 700;
    max-width: 100%;
    width: 100%;
    margin-bottom: 11px;
}

.type-of-system .item-of-system .des-system .descrip-system{
    font-size: 16px;
    color: #5B5E6D;
}

.type-of-system .item-of-system .icon-system .edit-icon-01{
    color: rgba(0, 90, 169, 1);
    background: rgba(0, 90, 169, 0.1);


}

.type-of-system .item-of-system .icon-system .edit-icon-02{
    color:rgba(104, 187, 11, 1);
    background: rgba(104, 187, 11, 0.1);

}

.type-of-system .item-of-system .icon-system .edit-icon-03{
    color: rgba(80, 46, 196, 1);
    background: rgba(80, 46, 196, 0.1);

}

.type-of-system .item-of-system .icon-system .edit-icon-04{
    color: rgba(236, 30, 49, 1);
    background: rgba(236, 30, 49, 0.1);
}

.type-of-system .item-of-system .icon-system .edit-icon-05{
    color: rgba(232, 171, 1, 1);
    background: rgba(232, 171, 1, 0.1);

}

.type-of-system .item-of-system .icon-system .edit-icon-06{
    color: rgba(233, 104, 0, 1);
    background-color: rgba(233, 104, 0, 0.1);
}


#body-suport{
    width: auto;
    background-color: rgb(240, 240, 240);
}


#body-suport.b-s-title{

    text-align: center;

}

#body-suport .b-s-title h1{
    padding-top: 56px;
    text-align: center;
    font-weight: 700;

}

#body-suport .b-s-title p{
    text-align: center;
}



#body-suport .body-sp-num{
    width: auto;
}
#body-suport .body-sp-num .p-num{
    margin: 80px 100px;
}

#body-suport .body-sp-num .p-num span{
    text-align: center;
    padding: 0 50px;
}


#body-suport .body-sp-num .p-num p{
  display: flex;

}

#body-suport .body-sp-num .p-num hr{
    display: block;
    width: 2px;
    height: 88px;
    border-style: inset;
    border-width: 1px;
    margin-top: -5px;
}

#body-suport .body-sp-num .p-num .hot-num{
    color: red;
    font-weight: 800;
    font-size: 24px;
}

#body-suport .body-sp-num .p-num .p-p-num{
    width: 214px;
}


#body-suport .footer-sp-num{
    width: auto;
    text-align: center;
}


#body-suport .footer-sp-num .btn-p-num{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    border-radius: 100px;
    background-color: red;
    color: white;
    padding: 10px 18px;
    margin: 0 10px;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
    width: 226px;
    height: 50px;
    margin-bottom: 100px;
}

#body-suport .footer-sp-num .btn-p-num p{
    margin-bottom: 2px;
    margin-right: 5px;
}

#body-suport .footer-sp-num .btn-p-num i{
    color: red;
    padding: 10px;
    background-color: white;
    border-radius: 50%;
    margin-left: 19px;
    
}

#main-media-asc .title-m-asc{
    text-align: center;
    margin: 54px 0;

}

#main-media-asc .sub-title-m{
    position: relative;
}

#main-media-asc .sub-title-m #myTabContent{
    padding-bottom: 54px;
}


#main-media-asc .sub-title-m #myTab #home-tab,
#main-media-asc .sub-title-m #myTab #profile-tab,
#main-media-asc .sub-title-m #myTab #contact-tab{
    color: black;
}

#main-media-asc .sub-title-m ul::after{
    content:"";
    position: absolute;
    display: block;
    border: 1px solid #E3E3E3;
    width: 492px;
    height: 0px;
    top: 34px;
    left: 580px;
}

#main-media-asc .sub-title-m ul{
    margin-bottom: 40px;
}




#carousel-media .item .item-img{
    width: 100%;

}

#carousel-media .item .item-img img{
    width: 100%
}


#carousel-media .item h4{
    position: relative;
    padding: 20px 0;
    font-size: 22px;
    font-weight: 500;
}

#carousel-media .item h4::after{
    content: '';
    position: absolute;
    border: 2px solid red;
    width: 113px;
    background-color: red;
    left: 0;
    bottom: 0;

}


#carousel-media .item p{
    display: block;
    word-wrap: break-word;
    width: auto;
}



#main-media-asc .sub-title-m .btn-see-more a{

    display: block;
    float: right;
    color: black;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 100px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 30px;
}





#myTabContent .owl-theme .owl-nav{
    display: none;
}


#myTabContent .owl-theme .owl-dots{
    position: absolute;
    bottom: -39px;
    right: 170px;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #EC1C24;;
}




#footer{
    background: rgba(0, 90, 169, 1);
    width: auto;
}

#footer .main-title-footer{
    color: white;
    padding-top: 24px;
}
#footer .main-title-footer p{
    /* margin: 0 70px; */
    padding: 40px 0;
}

#footer .main-title-footer .intro-asc{
    padding-top: 30px;
}
#footer .main-title-footer .intro-asc img{
    width: 100px;
    max-width: 100%;
    margin-right: 50px;
    float: left;
}

#footer .main-infor{
    display: flex;
    justify-content: center;
    list-style: none;
    color: white;
    font-size: 16px;
}
#footer .main-infor .branch,
#footer .main-infor .about-us,
#footer .main-infor .advisory,
#footer .main-infor .hotline-number,
#footer .main-infor .product{
    margin: 0 10px;
}

#footer .main-infor .branch .branch-hcm h5,
#footer .main-infor .branch .branch-hn h5,
#footer .main-infor .about-us h5,
#footer .main-infor .advisory h5,
#footer .main-infor .hotline-number h5,
#footer .main-infor .product h5{
    font-weight: 700;
    line-height: 22px;
}

#footer .main-infor .ul-advisory,
#footer .main-infor .ul-hotline-number,
#footer .main-infor .ul-about-us,
#footer .main-infor .ul-branch-hcm,
#footer .main-infor .ul-branch-hn,
#footer .main-infor .ul-product{
    list-style: none;
}

#footer .main-infor .branch-hn{
    margin-top: 45px;
}

#footer .main-infor .ul-about-us li{
    padding: 5px 0;
    
}
#footer .main-infor .ul-about-us li a{
    text-decoration: none;
    color: white;

}

#footer .main-infor .ul-about-us li a:hover{

    color: rgb(131, 182, 211);

}

#footer .main-infor .ul-product li{
    padding: 5px 0;
}

#footer .main-infor .ul-product li a{
    text-decoration: none;
    color: white;
}

#footer .main-infor .ul-product li a:hover{

    color: rgb(131, 182, 211);

}


#footer .main-infor hr{

        display: block;
        width: 2px;
        height: 230px;
        border-style: inset;
        border-width: 1px;
        margin-top: -5px;
        background: #FFFFFF;
        opacity: 0.5;   
}





#social-media{
    position: fixed;
    top: 200px;
    left: 34px;
}

#social-media .social-media-logo {
    list-style: none;
}

#social-media .social-media-logo li{
    margin: 34px 0px;
}

#social-media .social-media-logo i{
    border-radius: 50%;
    background-color: red;
    color: white;
    padding: 10.5px;
    font-size: 21px;
}


#copy-right{
    background: rgba(0, 61, 114, 1);
    color: white;
    padding: 10px 50px;

}


.modal-home-menu{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0 ,0 ,0 ,0.3);
    align-items: center;
    justify-content: center;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /* overflow: auto; Enable scroll if needed */
    height: auto;
    display: none;
}


.modal-home-menu.open{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index:100;
}



.modal-container{
    background-color: white;
    width: 100%;
    height: auto;
    position: relative;
    animation: modalFadeIn ease .35s;



}


.modal-home-menu .modal-container .header-container img{
    position: absolute;
    max-width: 126.63px;
    left: 40px;

}


.modal-home-menu .modal-container .modal-btn-close{
    float: right;
    /* flex-items: center; */
}


/* .modal-home-menu .modal-container .modal-logo img{
    max-width: 100%;
    height: 66px;
} */


.modal-home-menu .modal-container .modal-btn-close{
    position: absolute;
    display: flex;
    align-items: center;
    top: 33px;
    right: 20px;
    color: rgba(255, 255, 255, 1);
    background: rgba(0, 0, 0, 1);
    font-size: 16px;
    padding: 23px 23px;
    cursor: pointer;
    border-radius: 50px;
    opacity: 0.2;
}

.modal-home-menu .modal-container .modal-btn-close:hover{
    opacity: 0.8;
    background-color: red;
}




.modal-home-menu .modal-container .body-home-menu{
    display: flex;
    justify-content: flex-end;
    padding-top: 220px;
}

.modal-home-menu .body-home-menu .menu-home-menu{
    width: 30%;
    padding: 0 60px;
}


.modal-home-menu .body-home-menu .title-menu a{
    position: relative;
    color: #5B5E6D;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
}


.modal-home-menu .body-home-menu .title-menu a::after{
    content: '';
    position: absolute;
    border: 1.5px solid rgba(236, 28, 36, 1);
    background-color: rgba(236, 28, 36, 1);
    width: 67px;
    top: 28px;
    left: -16px;
}
.modal-home-menu .body-home-menu .menu-home-menu .ul-list-menu{
    position: relative;
    padding-top: 16px;
    margin: 24px 0px;
}

.modal-home-menu .body-home-menu .menu-home-menu .ul-list-menu::after{
    content: '';
    position: absolute;
    border: 4px solid rgba(235, 235, 237, 1);
    height: 157px;
    background-color: rgba(235, 235, 237, 1);
    top: 30px;
    left: -32px;


}



.modal-home-menu .body-home-menu .menu-home-menu .ul-list-menu li a{

    color: rgba(50, 54, 72, 1);
    font-size: 44px;
    line-height: 60px;
    text-decoration: none;
    font-weight: 400;
}

.modal-home-menu .body-home-menu .menu-home-menu .ul-sub-list-menu li a{
    display: block;
    font-weight: 400;
    size: 20px; 
    line-height: 24px; 
    color: rgba(91, 94, 109, 1);
    text-decoration: none;
    padding: 6px 0px;
}

.modal-home-menu .body-home-menu .menu-home-menu .btn-tu-van{
    background: #EC1C24;
    border-radius: 100px;
    border:1px solid #EC1C24;
    color:rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    font-size: 20px;
    line-height: 24px;
    padding: 12px 22px;
    font-weight: 700;
    margin: 60px 0px;

}

.modal-home-menu .body-home-menu .menu-home-menu .btn-tu-van .ti-headphone-alt{
    font-size: 22px;
    padding-right: 10px;
}


.modal-home-menu .body-home-menu .contact-home-menu{
    width: 50%;
    padding: 0 60px;

}

.modal-home-menu .body-home-menu .contact-home-menu a{
    position: relative;
    color: #5B5E6D;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
}


.modal-home-menu .body-home-menu .contact-home-menu a::after{
    content: '';
    position: absolute;
    border: 1.5px solid rgba(236, 28, 36, 1);
    background-color: rgba(236, 28, 36, 1);
    width: 81px;
    top: 28px;
    left: -12px;
}

.modal-home-menu .body-home-menu .contact-home-menu .ul-infor-list{
    list-style: none;
    padding-top: 49px;
}


.modal-home-menu .body-home-menu .contact-home-menu .ul-infor-list li p {
    color:rgba(0, 0, 0, 1);
    font-size: 22px;
    line-height: 26.3px;
    font-weight: 400;
}

.modal-home-menu .body-home-menu .contact-home-menu .ul-infor-list .li-mail,
.modal-home-menu .body-home-menu .contact-home-menu .ul-infor-list .li-phone{
    display: flex;
    align-items: baseline;

}

.modal-home-menu .body-home-menu .contact-home-menu .ul-infor-list .li-mail .ti-email,
.modal-home-menu .body-home-menu .contact-home-menu .ul-infor-list .li-phone .ti-headphone-alt{
    padding-right: 20px;
}

.modal-home-menu .body-home-menu .contact-home-menu .ul-infor-list .li-phone p{
    color: #EC1C24;
    font-weight: 800;
}

.modal-home-menu .body-home-menu .contact-home-menu .map-img{
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    padding: 8px;   
}

.modal-home-menu .body-home-menu .contact-home-menu .map-img img{
    border: 1px #E3E3E3;
    box-sizing: border-box;
    width: 100%;
}


.modal-home-menu .modal-container .right-img-home-menu img{
    max-width: 100%;
    height: auto;
    background-size: contain;
    
}
