*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

#header-nav{
    width: auto;
    top: 0;
    left: 0;
}

#hear-navbar{
    width: auto;
    max-width: 100%;
    margin: 0 30px;
    padding-top: 20px;
    margin-bottom: 20px;
}

#navbar{
    position: relative;
    padding-top: 20px;
    height: 80px;

}

#logo-asc img{
    
}

#main-nav{
    position: absolute;
    top: 25px;
    bottom: 0px;
    right: 0px;
}

#menu #main-nav li{
    margin: 0 5px;
    list-style: none;
    display:  inline-block;
    padding: 20px 0;
    
}

#main-nav .main-menu{

}

#menu #main-nav .item-sp{
    color: black;
    font-weight: 600;
    text-decoration: none;
}

.border-sp{

    border-radius: 12px;
    border-style: solid;
    border-color: red;
    color: white;
    background-color: red;
    font-weight: 600;
    text-decoration: none;

} 

#menu-icon-close{
   display: none; 
}



.edit-lag{
    border-radius: 50%;
    border-style: solid;
    border-color: red;
    color: white;
    background-color: red;
    font-weight: 600;
    text-decoration: none;
    padding: 5px;
}

#body{
    /* min-height: 500px; */
    padding: 50px 0;
    width: auto;
    max-width: 100%;
    /* margin: auto; */
}
#body #header-section{
    position: relative;
    display: block;
    text-align: center;
    
    width: 100%;
}

#body #header-section #page-width-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

#body #header-section #page-width-title h1{
    font-size: 40px;
    margin-bottom: 20px;
    line-height: 68px;;
    letter-spacing: -.04em;
    font-weight: 600;
    width: auto;
    padding: 0 300px;
}

#body #header-section #page-width-title h2{
    font-size: 16px;
    padding: 0 5%;
    /* letter-spacing: -.04em; */
    font-weight: 300;
    width: auto;
    padding: 0 470px;
}

#body #header-section #page-width-title .m-s{
    width: 300px;
}


#body #header-section #page-width-title p{
    font-size: 16px;
    margin-top: 40px;
    text-align: center;
    width: 100%;
    padding: 10px;
    border-style: solid;
    text-transform: uppercase;
}


#f-row{
    margin-top: 70px;
    width: auto;
    text-align: center;
    padding: 0 140px;

}

#f-row .border-out-side{
    border: 2px solid #5B5E6D;
    border-radius: 12px;
    width: 160px;
    height: 100px;
    margin: 0 5px;
}

.pad-s{
    width: auto;

}

#f-row .edit-img{
    
    
}
#f-row .edit-img>img{
    width: 90px;
    padding: 10px;
}



#header-section .see-more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
#header-section .see-more p{
    color: white;
    background-color: red;
    border-radius: 50%;
    border-style: solid;    
    border-radius: 100px;
    padding: 10px 20px;
}

#header-section .see-more p i{
    font-size: 16px;
    font-weight: 300;
    color: red;
    background-color: white;
    border-style: solid;    
    border-radius: 50%;
    padding: 5px;
}

#body-section {
    background-color: rgba(0, 90, 169, 1);
    width: 100%;
}

#body-section #body-s-title {
    text-align: center;
    color: white;
    padding: 34px 500px 50px 500px;
    width: auto;
}

#body-section #body-s-des{
    padding-top: 80px;
}



#body-s-des .mobie-0{
    position: relative;
}
#body-s-des .mobie-0 img{
    width: 120px;
}

#body-s-des .mobie-1{
    position: absolute;
    top: 40px;
    left: 44px;

}

#body-s-des .description{
    padding: 20px;
    color: white;
    width: auto;
    margin-left: 60px;
}

#body-s-des .description h3{
    font-weight: 700;
}


#body-s-des .description i{
    color: rgba(0, 90, 169, 1);
    border-radius: 50%;
    background-color: white;
    padding: 10px;
    margin-top: 50px;
}

#body-section .body-s-f{
    color: white;
    font-size: 85px;
    font-weight: 900;
    opacity: 0.1;
    text-align: center;
}









#body-6-p{
    width: auto;
    max-width: 100%;
    margin: auto;
    padding-top: 20px;
}

#body-6-p .type-of-system{
    width: auto;
    display: block;
    padding: 100px;
    margin: 0 20px;
    
}
.type-of-system .item-of-system{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 100px;
    
}


.type-of-system .item-of-system .icon-system{
    
    font-size:  38px;
    
}

.type-of-system .item-of-system .des-system{
    margin-left: 10px;
    /* padding: auto; */
}

.type-of-system .item-of-system .des-system .descrip-system{
    font-size: 16px;
    color: #5B5E6D;
}

.type-of-system .item-of-system .icon-system .edit-icon-01,
.edit-icon-02,
.edit-icon-03,
.edit-icon-04,
.edit-icon-05,
.edit-icon-06{
    border-radius: 50px;
    border-style: none;
    padding: 20px 20px;

}

.type-of-system .item-of-system .des-system .mini-title{
    font-size: 18px;
    color: #5B5E6D;
    margin-bottom: -2px;
}

.type-of-system .item-of-system .des-system h3{
    font-size: 18px;
    font-weight: 700;
}


.type-of-system .item-of-system .icon-system .edit-icon-01{
    color: rgba(0, 90, 169, 1);
    background: rgba(0, 90, 169, 0.1);


}

.type-of-system .item-of-system .icon-system .edit-icon-02{
    color:rgba(104, 187, 11, 1);
    background: rgba(104, 187, 11, 0.1);

}

.type-of-system .item-of-system .icon-system .edit-icon-03{
    color: rgba(80, 46, 196, 1);
    background: rgba(80, 46, 196, 0.1);

}

.type-of-system .item-of-system .icon-system .edit-icon-04{
    color: rgba(236, 30, 49, 1);
    background: rgba(236, 30, 49, 0.1);
}

.type-of-system .item-of-system .icon-system .edit-icon-05{
    color: rgba(232, 171, 1, 1);
    background: rgba(232, 171, 1, 0.1);

}

.type-of-system .item-of-system .icon-system .edit-icon-06{
    color: rgba(233, 104, 0, 1);
    background-color: rgba(233, 104, 0, 0.1);
}


#body-suport{
    width: auto;
    background-color: rgb(240, 240, 240);
}


#body-suport.b-s-title{

    text-align: center;

}

#body-suport .b-s-title h1{
    padding-top: 40px;
    /* padding-bottom: 2; */
    text-align: center;
    font-weight: 700;

}

#body-suport .b-s-title p{
    text-align: center;
}


#body-suport .body-sp-num{
    width: auto;
}
#body-suport .body-sp-num .p-num{
    text-align: center;
    padding: 80px 100px; 
}

#body-suport .body-sp-num .p-num p{
  
}

#body-suport .body-sp-num .p-num h5{
    color: red;
    font-weight: 800;
    font-size: 24px;
}

#body-suport .body-sp-num .p-num .p-p-num{
    padding: 0 50px;
}

#body-suport .footer-sp-num{
    width: auto;
    text-align: center;
    
}


#body-suport .footer-sp-num .btn-p-num{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    border-radius: 100px;
    background-color: red;
    color: white;
    padding: 10px 18px;
    margin: 0 10px;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    margin-bottom: 100px;
}

#body-suport .footer-sp-num .btn-p-num p{
    margin-bottom: 2px;
    margin-right: 5px;
}

#body-suport .footer-sp-num .btn-p-num i{
    color: red;
    padding: 10px;
    background-color: white;
    border-radius: 50%;
}




#media-asc{
    /* text-align: center; */
    width: auto;


}

#media-asc #title-m-asc .main-title-m{
    
    text-align: center;
}

#media-asc #title-m-asc .main-title-m h1{
    
    font-weight: 700;
}

#media-asc #title-m-asc .sub-title-m .ul-m{
    
    list-style: none;
}

#media-asc #title-m-asc .sub-title-m .list-m{
    float: left;
    margin-top: 40px;
    padding: 20px 20px 0px 20px;
    
}

#main-media-asc{
    float: left;
    padding: 60px 100px;
    width: auto;
}

#main-media-asc .row-media{
    padding: 0 10px;
    margin: 0 20px;
}

#main-media-asc .row-media img{
    width: 400px;

    object-fit: cover;
}
#main-media-asc .list-s-more{
    float: right;
    padding:0 50px;
}
#main-media-asc .list-s-more .s-m{
    
}

#main-media-asc .list-s-more .list-btn{
    width: 20px;
    background-color: red;
    /* background: rgba(230, 239, 247, 1); */
    border-radius: 50px;
}

#main-media-asc .list-s-more .s-m .see-all{
    border: 1px solid rgba(227, 227, 227, 1);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    padding: 10px 20px;
    margin-top: 20px;
}

#footer{
    background: rgba(0, 90, 169, 1);

}

#footer .title-footer{
    color: white;
    
}
