
<div class="container">
  <div class="quan-ly-hpmu">
    <div class="title">
      <h2>QUẢN LÝ ĐIỀU HÀNH</h2>
    </div>
    <div class="quan-ly row">
      <div class="col-xl-3 col-md-12 item-manage">
        <img src="/assets/image/body/Trang-chu/quan-ly/Rectangle 342.png" alt=""  style ="width: 133px; height: 133px; padding: 16px">
        <a class = "link-manage" href="">EGOV - QUẢN LÝ THÔNG TIN NHÀ TRƯỜNG</a>
      </div>
      <div class="col-xl-3 col-md-12 item-manage">
        <img src="/assets/image/body/Trang-chu/quan-ly/Rectangle 342 (1).png" alt=""  style = "width: 133px; height: 133px;">
        <a class = "link-manage" href="">CỔNG THÔNG TIN SINH VIÊN - QUẢN LÝ THÔNG TIN SINH VIÊN</a>
      </div>
      <div class="col-xl-3 col-md-12  item-manage">
        <img src="/assets/image/body/Trang-chu/quan-ly/Rectangle 342 (2).png" alt=""  style = "width: 133px; height: 133px; padding: 16px;">
        <a class = "link-manage" href="">THƯ VIỆN - THƯ VIỆN NHÀ TRƯỜNG</a>
      </div>
    </div>
  </div>
</div>
