.container {
  margin: 0px auto;
}

.header-title {
  border-top: 10px solid rgba(0, 129, 213, 1);
  border-bottom: 6px solid rgba(248, 155, 22, 1);
  margin-bottom: 8px;
}

.header-title .logo-HPMU {
  display: flex;
  flex-direction: row;
  margin-top: 23px;
  justify-content: space-between;
}

.header-title .logo-left {
  display: flex;
}



.header-title .logo-left img {
  width: 71px;
  height: 71px;
}



.text-name {
  margin-left: 13px;
}

.text-name .text-vn {
  font-family: UTM-HelveInt;
  font-size: 26px;
  line-height: 38px;
  text-align: center;
  font-weight: 400;
  color: #0081d5;
}

.text-name .text-en {
  font-family: UTM-HelveInt;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
  color: #0081d5;
  justify-content: center;
}

.header-title .slogan h4 {
  font-family: ULM-Aristote;
  text-align: center;
  font-size: 22px;
  line-height: 35px;
  text-align: center;
  color: #0081d5;
}

@media (max-width: 800px) {
  .header-title .logo-HPMU {
    flex-direction: column;
  }
  .header-title .logo-left img{
    align-self: center;
  }
  .header-title .logo-left img{
    width: 20%;
    height: 20%;
  }
  .text-name .text-vn{
    font-size: 20px;
    line-height: 28px;
  }
  .text-name .text-en{
    font-size:100%;
    margin: 10px 0;
  }
  .logo-right .sreenShot img{
    display: none;
  }
  .header-title .slogan h4{
    font-size: 14px;
  }
}

nav{
  padding: 0;
}

.header-navbar {
  background: rgba(0, 129, 213, 1);
}

.header-navbar .nav{
  width: 100%;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-direction: row;
}


.header-navbar .nav-item .nav-link {
  display: inline-block;
  font-family: UTM-HelveInt;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  padding: 4px 0;
}

.header-navbar .nav-item {
  align-self: center;
  padding: 12px 0;
}

.header-navbar .nav-item .nav-link .fa-search {
  font-size: 20px;
}




@media (max-width: 800px) {
  .header-navbar .nav{
    flex-direction: column;
  }
}
