
<div class="header-title">
  <div class="container">
    <div class="logo-HPMU d-flex justify-content-between">
      <div class="logo-left">
        <img src="/assets/image/header-image/truong dai hoc y duoc hai phong logo 1.png" alt="image">
        <div class="text-name ">
          <div class="text-vn d-flex jusityu-content-center align-items-center">
            TRƯỜNG ĐẠI HỌC Y DƯỢC HẢI PHÒNG
          </div>
          <div class="text-en d-flex jusityu-content-center align-items-center">
            HAI PHONG UNIVERSITY OF MEDICINE AND PHARMACY
          </div>
        </div>
      </div>
      <div class="logo-right">
        <div class="sreenShot">
          <img src="/assets/image/header-image/Screenshot_1 1.png" alt="">
        </div>
      </div>
    </div>
    <div class="slogan">
      <h4>Chuyên nghiệp - Hội nhập - Hiệu quả</h4>
    </div>
  </div>
</div>

<div class="header-navbar">
  <div class="container">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="Lien-he-gop-y">GIỚI THIỆU</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="Tin-tuc">TUYỂN SINH</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">CHUYÊN NGÀNH ĐÀO TẠO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">KHOA</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">PHÒNG BAN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">VIỆN TRUNG TÂM</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">ĐOÀN THỂ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">HỖ TRỢ SINH VIÊN</a>
      </li>
      <li class="nav-item">
        <!-- npm i bootstrap-icons -->
        <a class="nav-link" href="#"> <i class="fa fa-search"></i></a>
      </li>
    </ul>
  </div>
</div>
